/* loader */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background: conic-gradient(#25b09b 25%,#f03355 0 50%,#514b82 0 75%,#ffa516 0);
    animation: l22 2s infinite linear;
  }
  .loader::before,
  .loader::after {
     content: "";
     grid-area: 1/1;
     margin: 15%;
     border-radius: 50%;
     background: inherit;
     animation: inherit;
  }
  .loader::after {
     margin: 25%;
     animation-duration: 3s;
  }
  @keyframes l22 {
    100% {transform: rotate(1turn)}
  }

  /* admin-card */
  .card {
   position: relative;
   border-radius: 8px;
   cursor: pointer;
   
 }
 
 .card::before {
   content: '';
   position: absolute;
   inset: 0;
   left: -5px;
   margin: auto;
   width: 160px;
   padding:24px 24px;
   border-radius: 10px;
   background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
   z-index: -10;
   pointer-events: none;
   transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 
 .card::after {
   content: "";
   z-index: -1;
   position: absolute;
   inset: 0;
   background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
   transform: translate3d(0, 0, 0) scale(0.95);
   filter: blur(20px);
 }
 
 .heading {
   font-size: 20px;
   text-transform: capitalize;
   font-weight: 700;
 }
 
 .card p:not(.heading) {
   font-size: 14px;
 }
 
 .card p:last-child {
   color: #e81cff;
   font-weight: 600;
 }
 
 .card:hover::after {
   filter: blur(30px);
 }
 
 .card:hover::before {
   transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
 }
 .card-btn-glass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.63);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.5px);
-webkit-backdrop-filter: blur(1.5px);
border: 1px solid rgba(255, 255, 255, 0.3);
 }

/* addScholarship */
.scholarsBtn,
.scholarsBtn::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
}

.scholarsBtn::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

.scholarsBtn:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}
/* react-calendar */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: transparent;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background:transparent;
  border:none;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
/* manageScholar-edit */
.editScholar{
  /* From https://css.glass */
background: rgba(83, 92, 104, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.1px);
-webkit-backdrop-filter: blur(3.1px);
border: 1px solid rgba(83, 92, 104, 0.3);
}
/* edit-modal add-selection-modal */
.selectionModal{
  /* From https://css.glass */
background: rgba(149, 165, 166, 0.4);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(149, 165, 166, 0.3);
}
.selectionModal input{
  /* From https://css.glass */
background: rgba(236, 240, 241, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(236, 240, 241, 0.3);
}
/* home */
.topScholarBox{
  -webkit-box-shadow: 0 0 1px 3px #000 inset;
-moz-box-shadow: 0 0 1px 3px #000 inset;
box-shadow: 0 0 20px 0px #c0c0c0 inset;
}
/* topScholarShip-btn */
.btn-17 {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-17::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-17::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.btn-17:hover::after {
  filter: blur(30px);
}

.btn-17:hover::before {
  transform: rotate(-180deg);
}

.btn-17:active::before {
  scale: 0.7;
}
.topScholarScrollbar::-webkit-scrollbar{
  width: 5px;
  height:8px;
}
.topScholarScrollbar::-webkit-scrollbar-thumb{
  border-radius: 0 12px 50px 0;
  -webkit-border-radius: 0 12px 50px 0;
  -moz-border-radius: 0 12px 50px 0;
  -ms-border-radius: 0 12px 50px 0;
  -o-border-radius: 0 12px 50px 0;
}
.topScholarScrollbar::-webkit-scrollbar-thumb{
  background: linear-gradient(90deg, #f9ca24 0%, #e7ce4d 100%);
}
.topScholarScrollbar::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(90deg, #f9ca24 0%, #f9ca24 100%);
  cursor: pointer;
}
/* review modal */
.reviewModal,.messageModal,.editModal{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.21);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.4px);
-webkit-backdrop-filter: blur(3.4px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.reviewModalBox{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/* comment box */
.scale-in-br {
	-webkit-animation: scale-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes scale-in-br {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-br {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
/* modal hide */
.scale-out-br {
	-webkit-animation: scale-out-br 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-br 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes scale-out-br {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-out-br {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
/* review-text-animation */
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.appliedTxt{
  text-shadow: -1px 8px 2px rgba(154,123,123,0.63);
}
/* errorTxt */
.errorTxt h2:nth-child(1){
  color:transparent;
  -webkit-text-stroke: 1px #e96d82;
}
.errorTxt h2:nth-child(2){
  color:#b71540;
  animation:animate 4s ease-in-out infinite;
  -webkit-animation:animate 4s ease-in-out infinite;
}
@keyframes animate {
  0%,100%{
    clip-path: polygon(1% 45%, 15% 38%, 29% 34%, 43% 37%, 56% 44%, 68% 52%, 80% 54%, 89% 49%, 100% 38%, 100% 100%, 0% 100%);
  }
  50%{
    clip-path: polygon(0 35%, 10% 40%, 20% 46%, 30% 52%, 46% 47%, 60% 38%, 74% 41%, 86% 47%, 100% 55%, 100% 100%, 0% 100%);
  }
}
/* errorBg */
.errorBg{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1247%26quot%3b)' fill='none'%3e%3cpath d='M805.339%2c486.182C839.851%2c487.516%2c877.953%2c485.406%2c897.475%2c456.914C919.118%2c425.327%2c918.674%2c382.488%2c898.822%2c349.746C879.621%2c318.078%2c842.369%2c304.396%2c805.339%2c304.957C769.387%2c305.502%2c734.075%2c321.062%2c716.636%2c352.506C699.642%2c383.146%2c705.389%2c421.046%2c724.761%2c450.24C742.19%2c476.505%2c773.841%2c484.965%2c805.339%2c486.182' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M807.7585091129524 182.98582750413257L760.1497469201205 285.0831475035545 862.2470669195424 332.69190969638646 909.8558291123743 230.59458969696453z' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M260.6763586678244 123.86980195417543L343.66893595239725 238.09928486196804 374.90584157561705 40.87722466960257z' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1392.2410322238534 265.3739993254701L1348.5663889245677 195.47995961007194 1265.5626510011134 295.9389444166994z' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M105.542%2c453.686C161.068%2c455.346%2c208.517%2c418.213%2c236.874%2c370.445C265.916%2c321.522%2c276.252%2c261.731%2c249.207%2c211.676C220.918%2c159.32%2c165.048%2c126.703%2c105.542%2c127.376C47.127%2c128.037%2c-6.369%2c162.666%2c-32.601%2c214.864C-56.573%2c262.564%2c-39.591%2c316.77%2c-12.861%2c362.981C13.82%2c409.107%2c52.279%2c452.094%2c105.542%2c453.686' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M954.0253649023143 371.1112323696786L858.0887760502249 298.81782728713995 785.7953709676863 394.7544161392294 881.7319598197757 467.04782122176806z' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M343.5462259545286 342.33976992606335L473.7639113584465 360.6406721257434 361.84712815420863 212.12208452214549z' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1308.144%2c337.697C1330.41%2c337.552%2c1352.278%2c328.903%2c1363.943%2c309.937C1376.157%2c290.079%2c1376.865%2c264.965%2c1365.347%2c244.695C1353.695%2c224.188%2c1331.73%2c211.776%2c1308.144%2c211.736C1284.488%2c211.696%2c1262.425%2c224.009%2c1250.604%2c244.5C1238.79%2c264.979%2c1238.65%2c290.556%2c1251.07%2c310.673C1262.922%2c329.87%2c1285.583%2c337.844%2c1308.144%2c337.697' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1097.7714662273308 213.96744813470468L1074.796619444951 299.7107436226564 1214.8989860680686 291.3013660522502z' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1247'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
/* manage applied */
.manageAppliedBorder,.manageReviewBorder{
  border-width: 5px;
  border-style: solid;
  animation: applyBorder 5s infinite;
  -webkit-animation: applyBorder 5s infinite;
}
@keyframes applyBorder {
  0%{border-color: #ED4C67}
  20%{border-color: #6F1E51}
  40%{border-color: #badc58}
  60%{border-color: #12CBC4}
  80%{border-color: #9980FA}
  100%{border-color: #B53471}
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* applied details reject button */
.rejectApplied {
  --b: 3px;   /* border thickness */
  --s: .15em; /* size of the corner */
  --c: #B53471;
  
  padding: calc(.05em + var(--s)) calc(.3em + var(--s));
  color: var(--c);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .2em;
}
.rejectApplied:hover,
.rejectApplied:focus-visible{
  --_p: 0px;
  outline-color: var(--c);
  outline-offset: .05em;
}
.rejectApplied:active {
  background: var(--c);
  color: #fff;
}
/* slide-in-right */
.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/* scale-out-center */
.scale-out-center {
	-webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}
/* slide-in-left */
.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.appliedFeedbackBg{
background: rgba(149, 165, 166, 0.34);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.3px);
-webkit-backdrop-filter: blur(8.3px);
}
.appliedFeedbackText{
background: rgba(252, 255, 255, 0.34);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.3px);
-webkit-backdrop-filter: blur(8.3px);
}
/* notificationScroll */
.notificationScroll::-webkit-scrollbar{
  width:5px;
  background: #dfe6e9;
}
.notificationScroll::-webkit-scrollbar-thumb,.myApplicationScroll::-webkit-scrollbar-thumb{
  background:#636e72;
  border-radius:12px;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  -ms-border-radius:12px;
  -o-border-radius:12px;
}
/* scale-in-top */
.scale-in-top {
	-webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}
/* fade-out */
.fade-out-bck {
	-webkit-animation: fade-out-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
}
@keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
}
/* fade-out-right */
.fade-out-right {
	-webkit-animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes fade-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
}
@keyframes fade-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
}
/* my application scrollbar */
.myApplicationScroll::-webkit-scrollbar{
  height: 5px;
  width: 5px;
  background:rgb(201, 199, 212);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
/* review-card */
.userComment{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* paymentBackground */
.paymentBackground{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1039%26quot%3b)' fill='none'%3e%3cpath d='M693.5465685301745 183.37806924162146L534.9011449517776 197.25774532499952 707.4262446135525 342.0234928200183z' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M329.63 327.84 a152.95 152.95 0 1 0 305.9 0 a152.95 152.95 0 1 0 -305.9 0z' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1280.74 168.33 a139.94 139.94 0 1 0 279.88 0 a139.94 139.94 0 1 0 -279.88 0z' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M771.73 76.5 a118.31 118.31 0 1 0 236.62 0 a118.31 118.31 0 1 0 -236.62 0z' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M425.03247091068334 99.39079066281104L583.7488763922446 136.03336009829047 620.391445827724-22.68304538327078 461.6750403461628-59.32561481875021z' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M836.9 532.22 a166.27 166.27 0 1 0 332.54 0 a166.27 166.27 0 1 0 -332.54 0z' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M713.02 125.23 a165.18 165.18 0 1 0 330.36 0 a165.18 165.18 0 1 0 -330.36 0z' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M262.026192651579 111.72941108962549L197.63001036566027-26.36864747692219 123.9281340850313 176.12559337554418z' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1055.532%2c660.302C1089.888%2c661.703%2c1117.565%2c635.534%2c1134.876%2c605.824C1152.33%2c575.868%2c1159.935%2c539.75%2c1143.589%2c509.175C1126.384%2c476.994%2c1091.991%2c455.862%2c1055.532%2c457.416C1021.259%2c458.877%2c994.526%2c485.287%2c979.586%2c516.167C966.53%2c543.153%2c972.682%2c573.257%2c986.657%2c599.779C1001.927%2c628.759%2c1022.802%2c658.967%2c1055.532%2c660.302' fill='rgba(15%2c 142%2c 177%2c 0.32)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1039'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
.paymentText,.paymentIcon,.paymentBtnText,.topScholarsDetails{
  color:transparent;
  font-size: 50px;
  font-weight: bolder;
  -webkit-text-stroke: 2px #ff4757;
}
.paymentBtnText{
  font-size:30px;
  transition:all ease-in 0.5ms;
  -webkit-text-stroke: 1px #c6ecd6;
  -webkit-transition:all ease-in 0.5ms;
  -moz-transition:all ease-in 0.5ms;
  -ms-transition:all ease-in 0.5ms;
  -o-transition:all ease-in 0.5ms;
}
.paymentBtnText:hover{
  -webkit-text-stroke: 1px #06b34e;
}
.topScholarsDetails{
  position:relative;
  font-size:28px;
  transition: all ease-in 1s;
  -webkit-text-stroke: 0.5px #06b34e;
  -webkit-transition: all ease-in 1s;
  -moz-transition: all ease-in 1s;
  -ms-transition: all ease-in 1s;
  -o-transition: all ease-in 1s;
}
.topScholarsDetails::after,.getInTouchBtn::after{
  position:absolute;
  content:"";
  width: 100%;
  height:100%;
  top:100%;
  z-index: -10;
  background:#06b34e;
  border-radius:8px;
  transition:all ease-in 0.5s;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -ms-border-radius:8px;
  -o-border-radius:8px;
  -webkit-transition:all ease-in 0.5s;
  -moz-transition:all ease-in 0.5s;
  -ms-transition:all ease-in 0.5s;
  -o-transition:all ease-in 0.5s;
}
.topScholarsDetails:hover.topScholarsDetails::after{
  top:0%;
}
.topScholarsDetails:hover{
  -webkit-text-stroke: 0.5px white;
}
.userMessageBgImg{
  background:linear-gradient(90deg,rgba(52, 73, 94, 0.3) 32%,rgba(52, 73, 94, 0.4) 40%), url("https://i.ibb.co.com/z88KYff/pexels-abby-chung-371167-1106468.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.getInTouchTxt,.getInTouchTxtHeader{
  color:transparent;
  -webkit-text-stroke: 2px rgb(218, 24, 130);
}
.getInTouchTxtHeader{
  -webkit-text-stroke:4px rgb(218, 24, 130);
}
.getInTouchBtn{
  color:transparent;
  -webkit-text-stroke: 2px #DA1882;
}
.getInTouchBtn::after{
  top:0%;
  left:-100%;
  z-index: -10;
  background:#DA1882;
}
.getInTouchBtn:hover.getInTouchBtn::after{
  background:#DA1882;
  left:0%;
}
.getInTouchBtn:hover{
  color:transparent;
  -webkit-text-stroke:0.5px rgb(241,236,236);
  z-index: 10;
}
.formBackgroundDot::before{
  content:"";
  position: absolute;
  height: 80px;
  width: 80px;
  background-image: radial-gradient(#DA1882 3px, transparent 1px);
  background-size: 15px 15px;
  right:6%;
  transition:all ease-in 1s;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transition:all ease-in 1s;
  -moz-transition:all ease-in 1s;
  -ms-transition:all ease-in 1s;
  -o-transition:all ease-in 1s;
}
.formBackgroundDot:hover.formBackgroundDot::before{
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
}
.footerHeader{
  color:transparent;
  -webkit-text-stroke: 2px #ee5253;
}
.allScholarsBgImg{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1093%26quot%3b)' fill='none'%3e%3cpath d='M1326.422%2c744.284C1384.291%2c746.53%2c1447.806%2c739.707%2c1479.625%2c691.319C1513.983%2c639.07%2c1509.807%2c569.134%2c1476.329%2c516.318C1444.947%2c466.808%2c1385.005%2c447.605%2c1326.422%2c449.62C1271.635%2c451.504%2c1220.9%2c478.645%2c1193.369%2c526.049C1165.714%2c573.666%2c1163.857%2c633.158%2c1192.521%2c680.174C1220.131%2c725.46%2c1273.423%2c742.227%2c1326.422%2c744.284' fill='rgba(4%2c 75%2c 153%2c 0.13)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M849.652%2c503.333C898.125%2c504.043%2c953.713%2c500.548%2c977.693%2c458.416C1001.53%2c416.536%2c975.702%2c367.336%2c950.4%2c326.324C926.789%2c288.052%2c894.598%2c252.325%2c849.652%2c250.872C802.549%2c249.349%2c761.105%2c278.956%2c736.949%2c319.422C712.111%2c361.03%2c702.623%2c413.443%2c727.943%2c454.76C752.405%2c494.678%2c802.84%2c502.648%2c849.652%2c503.333' fill='rgba(4%2c 75%2c 153%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1483.436%2c626.903C1528.171%2c628.905%2c1573.865%2c614.199%2c1598.262%2c576.649C1624.813%2c535.784%2c1630.853%2c481.459%2c1604.617%2c440.391C1579.854%2c401.63%2c1529.39%2c394.936%2c1483.436%2c396.912C1441.622%2c398.71%2c1399.984%2c413.846%2c1379.051%2c450.088C1358.112%2c486.34%2c1363.848%2c531.06%2c1385.131%2c567.111C1406.029%2c602.51%2c1442.37%2c625.065%2c1483.436%2c626.903' fill='rgba(4%2c 75%2c 153%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M780.845%2c278.418C802.967%2c278.509%2c825.631%2c271.714%2c837.26%2c252.895C849.43%2c233.202%2c847.743%2c208.424%2c836.659%2c188.1C825.046%2c166.807%2c805.079%2c150.437%2c780.845%2c149.452C754.929%2c148.399%2c728.902%2c160.398%2c716.577%2c183.219C704.735%2c205.146%2c711.282%2c231.781%2c725.226%2c252.436C737.497%2c270.614%2c758.913%2c278.328%2c780.845%2c278.418' fill='rgba(4%2c 75%2c 153%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M453.63%2c394.01C482.547%2c395.086%2c504.121%2c370.691%2c518.592%2c345.632C533.067%2c320.567%2c542.366%2c290.315%2c528.035%2c265.168C513.599%2c239.836%2c482.777%2c230.86%2c453.63%2c231.636C425.976%2c232.372%2c398.579%2c244.429%2c385.784%2c268.956C373.733%2c292.058%2c384.109%2c318.188%2c396.534%2c341.091C409.797%2c365.538%2c425.836%2c392.976%2c453.63%2c394.01' fill='rgba(4%2c 75%2c 153%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1148.9819114825953 444.86710141385544L1121.059944000461 549.0733027044666 1225.266145291072 576.9952701866009 1253.1881127732063 472.7890688959897z' fill='rgba(4%2c 75%2c 153%2c 0.13)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M55.92838864230268 497.2730779466818L97.88427488215876 626.4000183146845 227.01121525016146 584.4441320748284 185.05532901030537 455.3171917068257z' fill='rgba(4%2c 75%2c 153%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M487.75040773501604 408.35606416055504L468.87958130413597 527.5017731216938 588.0252902652747 546.3725995525738 606.8961166961548 427.2268905914351z' fill='rgba(4%2c 75%2c 153%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M493.482%2c267.245C509.482%2c267.149%2c524.831%2c260.456%2c533.4%2c246.944C542.624%2c232.399%2c544.846%2c214.113%2c536.848%2c198.86C528.28%2c182.52%2c511.923%2c171.395%2c493.482%2c170.82C474.025%2c170.213%2c454.306%2c178.816%2c445.163%2c196.001C436.441%2c212.396%2c442.303%2c232.058%2c452.727%2c247.428C461.815%2c260.828%2c477.291%2c267.342%2c493.482%2c267.245' fill='rgba(4%2c 75%2c 153%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M864.98%2c100.033C879.392%2c99.326%2c890.827%2c88.915%2c897.547%2c76.146C903.775%2c64.311%2c903.369%2c50.606%2c897.251%2c38.713C890.491%2c25.573%2c879.725%2c13.814%2c864.98%2c12.841C848.674%2c11.765%2c832.555%2c19.755%2c824.377%2c33.902C816.192%2c48.061%2c817.811%2c65.699%2c826.368%2c79.637C834.531%2c92.932%2c849.398%2c100.797%2c864.98%2c100.033' fill='rgba(4%2c 75%2c 153%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1095.547935748707 247.82243040358705L1031.6351345161843 176.8400734969568 960.652777609554 240.7528747294794 1024.5655788420768 311.7352316361097z' fill='rgba(4%2c 75%2c 153%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1075.38%2c94.826C1097.569%2c93.897%2c1110.811%2c72.934%2c1122.074%2c53.794C1133.578%2c34.245%2c1146.832%2c11.767%2c1135.983%2c-8.153C1124.858%2c-28.58%2c1098.578%2c-33.639%2c1075.38%2c-31.945C1055.193%2c-30.471%2c1038.806%2c-17.649%2c1028.389%2c-0.295C1017.591%2c17.694%2c1012.089%2c39.2%2c1021.382%2c58.011C1031.724%2c78.945%2c1052.051%2c95.803%2c1075.38%2c94.826' fill='rgba(4%2c 75%2c 153%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1388.5955058722366 142.3358191818457L1491.5497761916863 102.81537755289472 1452.0293345627354-0.13889276655504545 1349.0750642432856 39.38154886239593z' fill='rgba(4%2c 75%2c 153%2c 0.13)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M371.76972439921843 451.78612767530564L434.8801698543415 538.6502037926191 521.7442459716549 475.53975833749604 458.6338005165319 388.6756822201826z' fill='rgba(4%2c 75%2c 153%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1093'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
.customSpinner{
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><circle fill="none" stroke-opacity="1" stroke="%23FF156D" stroke-width=".5" cx="100" cy="100" r="0"><animate attributeName="r" calcMode="spline" dur="2" values="1;80" keyTimes="0;1" keySplines="0 .2 .5 1" repeatCount="indefinite"></animate><animate attributeName="stroke-width" calcMode="spline" dur="2" values="0;25" keyTimes="0;1" keySplines="0 .2 .5 1" repeatCount="indefinite"></animate><animate attributeName="stroke-opacity" calcMode="spline" dur="2" values="1;0" keyTimes="0;1" keySplines="0 .2 .5 1" repeatCount="indefinite"></animate></circle></svg>')
}